@import "reset";
@import "mixin";

/* VARIABLES =================================== */

$color: #61d581;


/* MIXINS ====================================== */



/* GENERAL STYLES ================================= */

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

/* SITE STYLES ================================= */

html {
	background-color: lighten($color,30%);
	font-family: georgia, serif;
}

ul {
	text-align: center;
	padding: 3em 0.5em;
	li {
		font-weight: bold;
		font-size: 2.5em;
		line-height: 1.4;
		a, a:visited {
			color: darken($color,40%);
			text-decoration: none;
			line-height: 4em;
		}
	}
}

.refresh {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 4em;
    background-color: darken($color, 15%);
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
   	color: darken($color, 40%);
   	text-shadow: 1px 1px 0 rgba(lighten($color, 20%),0.8);
    &:visited {
    	color: darken($color, 40%);
    	text-shadow: 1px 1px 0 rgba(lighten($color, 20%),0.8);
    }
}

#addLoc {
	padding: 1em;
	text-align:center;
	input {
		border-radius: 0.2em;
		width: 45%;
		padding: 2%;
		margin: 2%;
	}
	input[type="submit"] {
		display: block;
		width: 30%;
		margin: 1em auto;
		border-radius: 0.2em;
		background-color: $color;
		border:1px solid darken($color, 10%);
		box-shadow: 0 0 1em rgba(darken($color, 20%),0.2);
		font-weight: bold;
		color: darken($color, 40%);
		text-shadow: 1px 1px 0 rgba(lighten($color, 20%),0.8);
	}
}