@import "reset";
@import "mixin";

/* VARIABLES =================================== */

$color: #61d581;


/* MIXINS ====================================== */



/* GENERAL STYLES ================================= */

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

/* SITE STYLES ================================= */

html {
	background-color: lighten($color,30%);
	font-family: georgia, serif;
}

ul {
	text-align: center;
	padding: 3em;
	li {
		font-weight: bold;
		font-size: 2em;
		line-height: 2em;
		a {
			color: darken($color,40%);

		}
	}
}