@import "reset";
@import "mixin";

/* VARIABLES =================================== */

$color: #61d581;


/* MIXINS ====================================== */



/* GENERAL STYLES ================================= */

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

/* SITE STYLES ================================= */

html {
	background-color: lighten($color,30%);
	font-family: georgia, serif;
}

ul {
	text-align: center;
	padding: 3em;
	li {
		font-weight: bold;
		font-size: 4em;
		line-height: 2em;
		a {
			color: darken($color,40%);

		}
	}
}

.refresh {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 4em;
    background-color: darken($color, 15%);
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
   	color: darken($color, 40%);
   	text-shadow: 1px 1px 0 rgba(lighten($color, 20%),0.8);
    &:visited {
    	color: darken($color, 40%);
    	text-shadow: 1px 1px 0 rgba(lighten($color, 20%),0.8);
    }
}